<div class="prod-details">
    <div class="main">
        <div class="section-1">
        <div class="name">HD Video Player</div>
        <div class="rating">
            <i class="bi bi-star star-fill"></i>
            <i class="bi bi-star star-fill"></i>
            <i class="bi bi-star star-fill"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
        </div>
    </div>
    <div class="section-2">
        <div class="prod-img"></div>
        <div class="emp-details">
            <div class="emp">
                <span class="role">LEAD ENGINEER</span>
                <span class="name">Billy Zimmer</span>
            </div>
            <div class="emp">
                <span class="role">SUPPORT TECH</span>
                <span class="name">Billy Zimmer</span>
            </div>
        </div>
    </div>
    </div>
    <div class="tab-section">
        <mat-tab-group>
            <mat-tab label="Catalog Images">
                <div class="cataglog">
                    <div class="cat-img"></div>
                </div>
            </mat-tab>
            <mat-tab label="Sales And Opportunities">
                <div class="graph"></div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>