::ng-deep {
  .prod-details {
    background-color: #fafafa;
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 25px;
    margin: 0px 10px;

    .main {
      display: flex;
      flex-direction: column;
      min-width: 350px;

      .section-1 {
        display: flex;
        gap: 20px;
        padding-bottom: 20px;

        .name {
          font-weight: 500;
          font-size: 25px;
          color: #b2586e;
        }

        .rating {
          .bi-star {
            padding: 2px;
            color: #c1c1c1;
          }

          .star-fill {
            color: #b2586e;
          }
        }
      }

      .section-2 {
        display: flex;
        gap: 20px;

        .prod-img {
          height: 130px;
          min-width: 220px;
          border: 2px solid #c1c1c1;
          display: flex;
          justify-content: center;
        }

        .emp-details {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .emp {
            display: flex;
            flex-direction: column;

            .name {
              font-weight: 600;
              cursor: pointer;  
            }

            .role {
              color: #9c9c9c;
              font-weight: 500;
            }
          }
        }
      }
    }

    .tab-section {
        height: 400px;

      .mat-mdc-tab-group {
        .mat-mdc-tab-header {
            max-width: 450px;

          .mat-mdc-tab-list {
            .mat-mdc-tab-labels {

              .mdc-tab--active {
                opacity: 1;
                transition: 0.5s;
                border: 1px solid #c1c1c1;
                border-bottom: unset;

                .mdc-tab__content {
                    .mdc-tab__text-label {
                        color: #b2586e !important;
                    }
                }
              }
            }

            .mdc-tab-indicator__content {
              display: none;
            }
          }
        }

        .mat-mdc-tab-body-wrapper {
            border: 1px solid #c1c1c1;
            height: 240px;
        }

        .mat-mdc-tab-body-content {
            overflow: hidden;
        }
      }

      .mat-mdc-tab-group.mat-primary .mat-ink-bar {
        background-color: #213a40 !important;
      }

      .catalog-section {
        display: flex;
        justify-content: space-between;
        // padding: 25px 60px;
        align-items: center;

        i {
            font-size: 55px;
            color: #c1c1c1;
        }
        
        .catalog {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 20px;
            gap: 50px;
            overflow:auto ;
            
            .cat-img {
                height: 120px;
                width: 180px;
                border: 2px solid #c1c1c1;
                display: flex;
                justify-content: center ;
                overflow: hidden;
            }
        }
      }

      .grey {
        height: 100px;
        border: 1px solid #c1c1c1;
        background-color: #c1c1c140;
      }
    }
  }
}
