<div class="prod-details">
    <div class="main">
        <div class="section-1">
        <div class="name">{{selectedProduct?.Product_Name}}</div>
        <div class="rating">
            <i class="bi bi-star star-fill" *ngFor="let item of [].constructor(selectedProduct?.product?.Product_Consumer_Rating)"></i>
            <i class="bi bi-star" *ngFor="let item of [].constructor(5-selectedProduct?.product?.Product_Consumer_Rating)"></i>
        </div>
    </div>
    <div class="section-2">
        <div class="prod-img">
            <img [src]="'data:image/jpeg;base64,'+selectedProduct?.product?.Product_Primary_Image" alt="">
        </div>
        <div class="emp-details">
            <div class="emp">
                <span class="role">LEAD ENGINEER</span>
                <span class="name">{{selectedProduct?.leadEngineer?.Employee_Full_Name}}</span>
            </div>
            <div class="emp">
                <span class="role">SUPPORT TECH</span>
                <span class="name">{{selectedProduct?.techSupport?.Employee_Full_Name}}</span>
            </div>
        </div>
    </div>
    </div>
    <div class="tab-section">
        <mat-tab-group>
            <mat-tab label="Catalog Images">
                <div class="catalog-section">
                <i class="bi bi-chevron-compact-left"></i>
                <div class="catalog">
                    <div class="cat-img">
                        <img [src]="'data:image/jpeg;base64,'+selectedProduct?.catalog.Product_Image1" alt="">
                    </div>
                    <div class="cat-img">
                        <img [src]="'data:image/jpeg;base64,'+selectedProduct?.catalog.Product_Image2" alt="">
                    </div>
                    <div class="cat-img">
                        <img [src]="'data:image/jpeg;base64,'+selectedProduct?.catalog.Product_Image3" alt="">
                    </div>
                    <div class="cat-img">
                        <img [src]="'data:image/jpeg;base64,'+selectedProduct?.catalog.Product_Image4" alt="">
                    </div>
                </div>
                <i class="bi bi-chevron-compact-right"></i>
            </div>
            </mat-tab>
            <mat-tab label="Sales And Opportunities">
                <div class="graph"></div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>