<div class="cus-filter-main">
    <div class="header">
        <h1>Create Custom Filter</h1>
    </div>
    <div class="body">
        <div class="filter-box"></div>
        <div class="future-use">
            <input type="checkbox">
            <span>Save for Future Use</span>
        </div>
        <input type="text" class="filter-name" placeholder="Enter a name for your custom filter...">
    </div>
    <div class="footer">
        <button class="submit">OK</button>
        <button (click)="closeDialog()">Cancel</button>
    </div>
</div>