@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #e7e9ed;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #fff inset!important;
  -webkit-text-fill-color: #333;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
